trigger: none
pool: macminipool

steps:
- task: TerraformInstaller@1
  inputs:
    terraformVersion: 'latest'
- task: TerraformTask@5
  inputs:
    provider: 'azurerm'
    command: 'init'
    workingDirectory: '$(System.DefaultWorkingDirectory)/env/dev'
    backendServiceArm: 'sc-azure-terraform-nonprod'
    backendAzureRmStorageAccountName: 'aibasedtodo'
    backendAzureRmContainerName: 'tfstate'
    backendAzureRmKey: 'dev.azure.terraform.infra'
- task: TerraformTask@5
  inputs:
    provider: 'azurerm'
    command: 'plan'
    workingDirectory: '$(System.DefaultWorkingDirectory)/env/dev'
    environmentServiceNameAzureRM: 'sc-azure-terraform-nonprod'